# Classification approach with equally sized bins

In [2]:
from warnings import simplefilter
from sklearn.decomposition import PCA
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Genotyped.csv", index_col='index')
output = pd.read_csv("Phenotypes.csv", index_col="index")

In [67]:
num_bins = 10

In [68]:
df.shape

(599, 1280)

## Data preparation

In [69]:
df['avg_phen'] = output['average phenotypes']

In [70]:
df.head(5)

,wPt.0538,wPt.8463,wPt.6348,wPt.9992,wPt.2838,wPt.8266,wPt.1100,wPt.0653,wPt.4418,wPt.2152,...,c.408330,c.408336,c.408375,c.408393,c.408422,c.408424,c.408426,c.408443,bin_n,avg_phen
0,1,0,1,1,1,0,0,0,0,1,...,1,1,0,0,1,0,1,1,0,-2.339534
1,0,0,0,1,1,0,1,1,1,1,...,1,0,1,0,1,0,1,1,0,-2.135715
2,0,0,1,0,0,0,1,0,1,1,...,1,0,1,0,1,0,1,1,0,-2.043776
3,1,1,1,1,1,0,1,1,0,1,...,1,1,1,0,1,1,1,1,0,-1.971788
4,1,0,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,1,1,0,-1.933979

In [71]:
df = df.sort_values('avg_phen')
df = df.reset_index(drop=True)
df.head(5)

,wPt.0538,wPt.8463,wPt.6348,wPt.9992,wPt.2838,wPt.8266,wPt.1100,wPt.0653,wPt.4418,wPt.2152,...,c.408330,c.408336,c.408375,c.408393,c.408422,c.408424,c.408426,c.408443,bin_n,avg_phen
0,1,0,1,1,1,0,0,0,0,1,...,1,1,0,0,1,0,1,1,0,-2.339534
1,0,0,0,1,1,0,1,1,1,1,...,1,0,1,0,1,0,1,1,0,-2.135715
2,0,0,1,0,0,0,1,0,1,1,...,1,0,1,0,1,0,1,1,0,-2.043776
3,1,1,1,1,1,0,1,1,0,1,...,1,1,1,0,1,1,1,1,0,-1.971788
4,1,0,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,1,1,0,-1.933979

In [72]:
bin_size = int(round(len(df)/num_bins))
bin_size

60

In [73]:
count = 0
bin_n = 0

for i in range(len(df)):
    df['bin_n'].iloc[i] = bin_n
    count = count + 1
    if count >= bin_size and bin_n < num_bins-1:
        count = 0
        bin_n = bin_n + 1
        
df['bin_n'].unique()

C:\Users\SkyMa\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [74]:
for i in range(num_bins):
    print("The number of elements in bin ", i, " is ", df['bin_n'].loc[df['bin_n'] == i].count())

The number of elements in bin  0  is  60
The number of elements in bin  1  is  60
The number of elements in bin  2  is  60
The number of elements in bin  3  is  60
The number of elements in bin  4  is  60
The number of elements in bin  5  is  60
The number of elements in bin  6  is  60
The number of elements in bin  7  is  60
The number of elements in bin  8  is  60
The number of elements in bin  9  is  59

In [75]:
# Drop the phenotypes column
df = df.drop(columns=['avg_phen'])

In [76]:
df.head(5)

,wPt.0538,wPt.8463,wPt.6348,wPt.9992,wPt.2838,wPt.8266,wPt.1100,wPt.0653,wPt.4418,wPt.2152,...,c.408294,c.408330,c.408336,c.408375,c.408393,c.408422,c.408424,c.408426,c.408443,bin_n
0,1,0,1,1,1,0,0,0,0,1,...,0,1,1,0,0,1,0,1,1,0
1,0,0,0,1,1,0,1,1,1,1,...,0,1,0,1,0,1,0,1,1,0
2,0,0,1,0,0,0,1,0,1,1,...,0,1,0,1,0,1,0,1,1,0
3,1,1,1,1,1,0,1,1,0,1,...,0,1,1,1,0,1,1,1,1,0
4,1,0,1,1,1,0,1,1,1,1,...,0,1,0,1,0,0,0,1,1,0

In [77]:
X = df.iloc[:, :-1]
X.head(5)

,wPt.0538,wPt.8463,wPt.6348,wPt.9992,wPt.2838,wPt.8266,wPt.1100,wPt.0653,wPt.4418,wPt.2152,...,c.408290,c.408294,c.408330,c.408336,c.408375,c.408393,c.408422,c.408424,c.408426,c.408443
0,1,0,1,1,1,0,0,0,0,1,...,1,0,1,1,0,0,1,0,1,1
1,0,0,0,1,1,0,1,1,1,1,...,1,0,1,0,1,0,1,0,1,1
2,0,0,1,0,0,0,1,0,1,1,...,0,0,1,0,1,0,1,0,1,1
3,1,1,1,1,1,0,1,1,0,1,...,1,0,1,1,1,0,1,1,1,1
4,1,0,1,1,1,0,1,1,1,1,...,1,0,1,0,1,0,0,0,1,1

In [78]:
y = df.iloc[:, -1]
y.head(5)

0    0
1    0
2    0
3    0
4    0
Name: bin_n, dtype: int64

## Data split

In [79]:
from sklearn.model_selection import train_test_split

split = 0.2 # use 20% of the data for testing.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=split, random_state=42)

## Training the model

In [80]:
parameters = {
    "learning_rate": [0.05, 0.10, 0.15, 0.20, 0.25, 0.30],
    "max_depth": [3, 4, 5, 6, 8, 10, 12, 15],
    "min_child_weight": [0.0, 0.1, 0.2, 0.3, 0.4],
    "gamma": [0.0, 0.1, 0.3, 0.4],
    "colsample_bytree": [0.3, 0.4, 0.5, 0.7]
}

In [81]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\nTime taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [82]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import xgboost

In [83]:
classifier = xgboost.XGBClassifier()

In [84]:
random_search = RandomizedSearchCV(
    classifier,
    param_distributions=parameters,
    n_iter=5,
    scoring='f1_micro',
    n_jobs=-1,
    cv=5,
    verbose=3,
)

In [85]:
from datetime import datetime
start_time = timer(None)
random_search.fit(X, y)
timer(start_time)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  19 out of  25 | elapsed:  1.3min remaining:   23.6s
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:  1.5min finished

Time taken: 0 hours 1 minutes and 44.39 seconds.

In [86]:
best_estimator = random_search.best_estimator_
best_estimator

XGBClassifier(colsample_bytree=0.3, gamma=0.0, learning_rate=0.2, max_depth=10,
              min_child_weight=0.4, objective='multi:softprob')

In [87]:
best_params = random_search.best_params_
best_params

{'min_child_weight': 0.4,
 'max_depth': 10,
 'learning_rate': 0.2,
 'gamma': 0.0,
 'colsample_bytree': 0.3}

In [88]:
best_clf = xgboost.XGBClassifier(
    colsample_bytree = best_params['colsample_bytree'],
    gamma = best_params['gamma'],
    learning_rate = best_params['learning_rate'],
    max_depth = best_params['max_depth'],
    min_child_weight = best_params['min_child_weight'],
    objective = 'multi:softprob'
)

In [89]:
best_clf.fit(X_train,y_train)

XGBClassifier(colsample_bytree=0.3, gamma=0.0, learning_rate=0.2, max_depth=10,
              min_child_weight=0.4, objective='multi:softprob')

In [90]:
y_pred = best_clf.predict(X_test)
y_pred_tr = best_clf.predict(X_train)

## Evaluation

In [91]:
pd.crosstab(y_test, y_pred)

col_0  0  1  2  3  4  5  6  7  8  9
bin_n
0      6  0  1  0  0  0  0  0  0  2
1      1  1  6  1  3  3  1  0  2  1
2      0  2  1  2  1  0  1  0  1  1
3      2  1  1  1  2  2  1  1  1  3
4      0  2  0  2  3  0  1  0  2  0
5      1  2  0  1  2  0  0  2  0  1
6      1  0  1  0  0  2  1  2  3  1
7      0  0  1  1  3  0  1  1  3  2
8      0  0  0  1  0  2  1  2  3  0
9      0  1  2  0  3  1  1  2  4  3

In [92]:
from sklearn.metrics import f1_score
print('Training set:',f1_score(y_train,y_pred_tr, average='macro'))
print('Test set:',f1_score(y_test,y_pred, average='macro'))

Training set: 1.0
Test set: 0.1671899568079534